<script>
  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
  ga('create','{{ site.analytics.google.tracking_id }}','auto');
  ga('set', 'anonymizeIp', {{ site.analytics.google.anonymize_ip | default: false }});
  ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145578661-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-145578661-1');
</script>

